{% extends "base.html" %}

{% block title %}Indeed Web Scraper{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block page_content %}

<div class="top-box">
<a class="github-button" href="https://github.com/" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Star Kenji/indeedapp on GitHub">Star</a>
</div>

<div class="row">
    <div class="title">
        Indeed Job Postings
    </div>
</div>





<!--
<div class="row">
    <div class="container-fluid">
        <iframe src="../static/images/map.html" width="70%" height="600" frameBorder="0"></iframe>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <iframe src="../static/images/sunburst.html" width="70%" height="600" frameBorder="0" ></iframe>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <iframe src="../static/images/bar.html" width="80%" height="500" frameBorder="0"></iframe>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <iframe src="../static/images/cumsum.html" width="80%" height="300" frameBorder="0"></iframe>
    </div>
</div>

<div class="row">
    <div class="container-fluid">
        <iframe src="../static/images/table.html" width="80%" height="500" frameBorder="0"></iframe>
    </div>
</div>
-->

<div class='tableauPlaceholder' id='viz1622851041739' style='position: center' width="100%">
    <noscript><a href='#'>
        <img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;indeedwebapp&#47;Dashboard1&#47;1_rss.png' style='border: none' />
    </a>
</noscript>
<object class='tableauViz'  style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
     <param name='embed_code_version' value='3' />
      <param name='path' value='views&#47;indeedwebapp&#47;Dashboard1?:language=en-US&amp;:embed=true' />
       <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;indeedwebapp&#47;Dashboard1&#47;1.png' /> 
       <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
       <param name='display_count' value='yes' /><param name='language' value='en-US' />
    </object>
</div>                
<script type='text/javascript'>
                    var divElement = document.getElementById('viz1622851041739');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1200px';vizElement.style.height='1627px';}
                    else if ( divElement.offsetWidth > 700 ) { vizElement.style.width='1000px';vizElement.style.height='1627px';}
                    else { vizElement.style.width='100%';vizElement.style.height='1677px';}                    
                    var scriptElement = document.createElement('script');                   
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                   
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);               
</script>






{% endblock %}